main {
  font-family: sans-serif;
  color: rgb(49, 47, 47);
  margin: 200px auto 0 auto;
  padding: 0;
  width: 500px;
  background-color: #fff;
  border: 1px solid lightgray;
  box-shadow: 3px 3px 3px grey;
}

#todo-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 10px 20px;
}

h1 {
  margin: 0;
  padding: 10px 0;
  font-weight: normal;
  font-size: 20px;
}

#input-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5px 20px;
}

#todo-input {
  width: 90%;
}

input {
  border-style: none;
  border-color: transparent;
  overflow: auto;
  outline: none;
}

input::placeholder {
  color: lightgray;
  font-style: italic;
  border: none;
}

.curved-arrow {
  font-size: 7px;
  transform: rotate(90deg);
  padding-right: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


.item {
  display: flex;
  justify-content: space-between;
  padding: 2px 20px;
  border-bottom: 1px solid #f6f6f6;
  outline: none;
}

.dot-icon,
.refresh-icon,
.curved-arrow {
  color: rgb(148, 144, 144);
}

.refresh-icon,
.curved-arrow {
  cursor: pointer;
}

.dot-icon {
  cursor: all-scroll;
}

button {
  background-color: transparent;
  border: none;
}


input:checked + textarea {
  color: #909090;
  text-decoration: line-through;
}

hr {
  padding: 0;
  border-top: #fff;
  border-color: #f6f6f6;
}

#list-clear {
  color: gray;
  text-align: center;
  background-color: rgb(236, 235, 235);
  margin: 0;
  padding: 5px;
}

#list-clear:hover {
  text-decoration: underline;
  cursor: pointer;
  color: rgb(36, 36, 36);
}

.item textarea {
  margin: 0;
  padding: 0;
  padding-left: 10px;
  resize: none;
  height: 50px;
  line-height: 45px;
  overflow: hidden;
  width: 100%;
  border: none;
  outline: none;
}

.check-div {
  display: flex;
  width: 100%;
  align-items: center;
}
